<header class="page-header">
  <div class="logo">WikiAlagoas</div>
  <span id="date" class="date">{{ include.edition }}.ª ed., {% include date.html date=include.date %}.</span>
  <!-- colocar a data do jornal -->
  <nav>
    <ul class="nav-ul header-ul">
      <li class="home"><a href="/{{ include.baseurl }}">Início</a></li>
      <li class="edicoes-anteriores"><a href="{{ include.baseurl }}/edicoes-anteriores">Edições anteriores</a></li>
      <li class="sobre"><a href="{{ include.baseurl }}/sobre">Sobre</a></li>
    </ul>
  </nav>
</header>