:root {
    --primary-bg-color: #d7d6e4;
}

body {
    margin: 0;
}

.page-header {
    position: relative;
    background-color: var(--primary-bg-color);
    height: 20em;
    width: 100vw;
    width: 100dvw;
}

.page-header nav {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.page-header ul {
    display: inline-flex;
    gap: 1em;
    margin: 0;
    padding: 0;
}

.page-header ul li {
    list-style-type: none;
    display: inline-block;
}