---
---

:root {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #180cc4;
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
    --header-font-family: "Playfair Display";
}

@font-face {
    font-family: "Playfair Display";
    src: url("/assets/Playfair-Display-Font/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Playfair Display";
    src: url("{{ site.baseurl }}/assets/Playfair-Display-Font/PlayfairDisplay-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

body {
    background-color: var(--primary-bg-color);
    margin: 0;
}

.page-header {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    border-bottom: solid 0.25em;
    border-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    width: 95vw;
    width: 95dvw;
    padding: 2em;
    font-family: var(--header-font-family);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.page-header nav {
    display: inline-block;
}

.page-header ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    
}
.page-header ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.5em;
}

.page-header ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.page-header ul li a:hover {
    text-decoration: underline;
    transition: text-decoration 1s;
    text-underline-offset: 0.5em;
}

.page-header .date {
    font-size: 1em;
}

.page-header .logo {
    text-align: right;
    font-size: 3em;
    align-self: center;
}